{% extends "base.html" %}

{% block title %}
    
    Home

{% endblock %}

{% block content %}

    <h1>Home</h1>


    <h3>Welcome to the home page 
        {% if user.is_authenticated %} 
            {{ username }}
        {% endif %}
        !
    </h3>

    </br>


    <form class="form-inline d-flex flex-row mb-3" method=POST action="{% url 'search_event' %}">
        {% csrf_token %}

        <input class="form-control me-2 w-25" type="search" placeholder="Event" aria-label="Search" name="searched_event">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>

    <!-- DISCLAIMER -->
    <p class="text-muted container">
        <strong class="text-danger">Disclaimer:</strong> </br>
        L'applicazione web per la gestione di eventi che stai utilizzando è un prototipo sviluppato a scopo dimostrativo e di test. Gli eventi, i luoghi e i manager degli eventi presenti all'interno dell'applicazione non corrispondono necessariamente a eventi, luoghi o persone reali. Qualsiasi somiglianza con eventi, luoghi o persone esistenti è puramente casuale. Le informazioni visualizzate sono state create esclusivamente per facilitare lo sviluppo e la prototipazione dell'applicazione. L'uso di questo prototipo è destinato esclusivamente a scopi interni e di test. Non si garantisce l'accuratezza, la completezza o l'affidabilità delle informazioni contenute nell'applicazione. Gli utenti sono invitati a non fare affidamento su queste informazioni per qualsiasi scopo reale.
    </p>
   

{% endblock %}

<!-- use \{\{ <variable> | safe \}\} (without escape slash)--> 