{% extends "base.html" %}

{% block title %}
    
    {{venue.name}}

{% endblock %}

{% block content %}

    <h1> {{venue.name}} </h1>

    {{ venue.address }} </br>

    {% if venue.phone %}
        <strong>Phone:</strong> {{ venue.phone }} </br>
    {% endif %}

    {% if venue.web %}
       <strong>Web:</strong> <a href="{{ venue.web }}">{{ venue.web }}</a> </br>
    {% endif %}

    {% if venue.email %}
        <strong>Email:</strong> <a href="mailto:{{ venue.email }}">{{ venue.email }}</a> </br>
    {% endif %}

    </br>
    

    {% if events %}
        <strong>Eventi in questo luogo:</strong> </br>
    
        {% for event in events %}
            <div class="border border-secondary rounded p-3 mb-3">
                <strong><a href="{% url 'event' event.id %}"> {{ event.name }} </a> </strong> </br>
                <strong>Data:</strong> {{ event.date }}        
            </div>
        {% endfor %}
    {% endif %} 

{% endblock %}

<!-- use \{\{ <variable> | safe \}\} (without escape slash)--> 